body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}


#cabecera{
	width: 75.00%;
	float:right;

}


/* Padding for spacing */
.inner {
  padding: 30px;
}

.mastfoot {
    position: fixed;
    bottom: 0;
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
    text-align:center;
    background-color: #f6f6f6;
  }

#cabecera_chat{
    text-align:center;
    border-style: groove;
    border-width: 4px;
}

#chat{
    background-color: #CDDC39;
}

#mitexto{
    width: 100%;
    color: #CDDC39;
    background-color: #9C27B0; 
}

#avisos{
    width: 100%;
    background-color: #E040FB; 
}



