          <section id="contenido" >

            <h2>Sobre los autores: </h2>
            <p >---</p>

            <p> Israel Blancas Álvarez
              <a class="btn btn-lg btn-primary" href="https://github.com/iblancasa" role="button"> <i class="fa fa-github"></i>
              Cuenta de GitHub</a>
            <a class="btn btn-lg btn-primary" href="http://iblancasa.com/" role="button"> <i class="fa fa-code"></i> Página  personal</a>
            </p>

            <p> José  Cristóbal López Zafra
              <a class="btn btn-lg btn-primary" href="https://github.com/JCristobal" role="button"> <i class="fa fa-github"></i>
              Cuenta de GitHub</a>
            <a class="btn btn-lg btn-primary" href="mailto:tobas92@gmail.com" role="button"> <i class="fa fa-user"></i> Correo personal</a>
            </p>

            <p> Pablo Casado Arenas
              <a class="btn btn-lg btn-primary" href="https://github.com/ramako" role="button"> <i class="fa fa-github"></i>
              Cuenta de GitHub</a>
            <a class="btn btn-lg btn-primary" href="mailto:wide12@gmail.com" role="button"> <i class="fa fa-user"></i> Correo personal</a>
            </p>

             <p> Rafael Ortiz Cáceres
              <a class="btn btn-lg btn-primary" href="https://github.com/rafaroc" role="button"> <i class="fa fa-github"></i>
              Cuenta de GitHub</a>
            </p>

          </section>
