<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FrontEnd para nuestra aplicación de IV">
    <meta name="author" content="Autores varios">
    <link rel="icon" href="../../favicon.ico">

    <title>Prueba de la vista con Bootstrap</title>


    <!--  Cargamos CSS con estilo propio -->
    <!-- <link href="bootstrap/estiloprueba.css" rel="stylesheet"> -->
    <link href="/stylesheets/estilodashboard.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


    <!-- Cargamos Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Nombre de la empresa </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Desplegable <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="http://getbootstrap.com/getting-started/#examples">Enlace</a></li>
              <li><a href="http://getbootstrap.com/"> Otro enlace </a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">

          <section id="cabecera" >

            <h2>Ejemplo </h2>
            <p>Aquí va una inserción de código</p>
            <p> y vemos varios iconos <i class="fa fa-camera-retro fa-lg"></i> <i class="fa fa-cube"></i> <i class="fa fa-graduation-cap"></i> <i class="fa fa-male"></i> </p>
            <p>
              <a class="btn btn-lg btn-primary" href="https://github.com/JCristobal" role="button"> <i class="fa fa-github"></i>
     Hacia enlace</a>
            </p>


<!--
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home"> home </div>
      <div role="tabpanel" class="tab-pane" id="profile"> profile </div>
      <div role="tabpanel" class="tab-pane" id="messages"> messages </div>
      <div role="tabpanel" class="tab-pane" id="settings"> settings </div>
    </div>

    </div>

    <script>
      $(function () {
        $('#myTab a:last').tab('show')
      })
    </script>
-->

          </section>


        <section  role="tabpanel" style=" width: 20.00%">

          <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" ><i class="fa fa-home fa-fw"></i> Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> <i class="fa fa-meh-o"></i>
        Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"> <i class="fa fa-book"></i>
        Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"> <i class="fa fa-cog fa-fw"></i>Settings</a></li>
          </ul>

        </section>

      </div>


      <div class="mastfoot">
        <div class="inner">
          <p>Plantilla obtenida parcialmente de <a href="http://getbootstrap.com">Bootstrap</a> </p>
        </div>
      </div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>  -->
  </body>
</html>
