
          <section id="operacion" >

            <h2>Ejemplo </h2>
            <p>Aquí va una inserción de código</p>
            <p> y vemos varios iconos <i class="fa fa-camera-retro fa-lg"></i> <i class="fa fa-cube"></i> <i class="fa fa-graduation-cap"></i> <i class="fa fa-male"></i> </p>
            <p>
              <a class="btn btn-lg btn-primary" href="https://github.com/JCristobal" role="button"> <i class="fa fa-github"></i>
     Hacia enlace</a>
            </p>

          </section>
