 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.js"> </script>
<script src="../public/javascript/graficas.js"></script>
 
 <script> 
 crearGraficas();
 </script>

<section id="graficas">

	<canvas id="myChart" class="chart" width="400" height="400"></canvas> 
	<canvas id="myChart2" class="chart" width="400" height="400"></canvas>

</section>
