<!DOCTYPE html>
<html>
<head>
  <title>BackendSI2-IV - Inicio</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  clientStateToken = '<%= state %>';
  </script>
  <script>
  (function(global){
    'use strict';

    /**
    * Función de retorno al hacer login
    * @method signInCallback
    * @param {} auth Autentificación
    * @return
    */
    global.signInCallback = function( auth ){
      console.log( 'signInCallback:', auth );
      if (auth['code']) {

        // Esconde el botón de inicio de sesión al autentificar
        $('#signinButton').attr('style', 'display: none');

        var data = {
          'code': auth['code'],
          'state': global.clientStateToken
        };
        $.ajax({
          type: 'POST',
          url: '/google/auth',
          contentType: 'application/json; charset=utf-8',
          /**
          * Petición al servidor para autentificación
          * @method success
          * @param {} result Resultado de la llamada
          * @return
          */
          success: function(result) {

            // Escribe usuarios
            console.log(result);
          },
          processData: false,
          data: JSON.stringify(data),
        });

        window.location.replace("http://<%= ip %>/dashboard");

      } else if (auth['error']) {
        console.log('Hubo un error: ' + auth['error']);
      }
    }

  })(this);
  </script>
  <style>

  </style>
</head>
<body>

  <video  id="video-background"  autoplay loop>
    <source src="/video/back.mp4" type="video/mp4">
  </video>

  <section id="fondo">
    <h1>Bienvenido a BackendSI2-IV</h1>


    <div id="signinButton">
      <span class="g-signin"
      data-scope="<%= scope %>"
      data-clientid="<%= clientId %>"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback">
    </span>
  </div>

  <a href="https://github.com/iblancasa/BackendSI2-IV"><img src="images/github.png"/></a>

  <p>
    Esta web utiliza cookies, puedes ver nuestra  <a href="/cookies">política de cookies, aquí</a>. Si continuas navegando estás aceptándola.
  </p>
</section>


<script type="text/javascript">

(function(){
  var po = document.createElement( 'script' );
  po.type = 'text/javascript';
  po.async = true;
  po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
  var s = document.getElementsByTagName( 'script' )[0];
  s.parentNode.insertBefore( po, s );
})();
</script>


</body>


</html>
