<!DOCTYPE html>
<html>
<head>
  <title>BackendSI2-IV - Inicio</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  clientStateToken = '<%= state %>';
  </script>
  <script src="/javascripts/client.js"></script>
  <style>

  </style>
</head>
<body>

  <video  id="video-background"  autoplay loop>
    <source src="/video/back.mp4" type="video/mp4">
  </video>

  <section id="fondo">
    <h1>Bienvenido a BackendSI2-IV</h1>


    <div id="signinButton">
      <span class="g-signin"
      data-scope="<%= scope %>"
      data-clientid="<%= clientId %>"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback">
    </span>
  </div>

  <a href="https://github.com/iblancasa/BackendSI2-IV"><img src="images/github.png"/></a>

  <p>
    Esta web utiliza cookies, puedes ver nuestra  <a href="/cookies">política de cookies, aquí</a>. Si continuas navegando estás aceptándola.
  </p>
</section>


<script type="text/javascript">

(function(){
  var po = document.createElement( 'script' );
  po.type = 'text/javascript';
  po.async = true;
  po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
  var s = document.getElementsByTagName( 'script' )[0];
  s.parentNode.insertBefore( po, s );
})();
</script>


</body>


</html>
